html {
	background-color: #000000;
	font-family: monospace, monospace;
	font-size: 20px;
	color: #fff;
}
.addr, .bytes, .data, .instr, .label, .func, .hexdump, .xref, .comment {
	color: #00ff00;
	display: inline-block;
}
.addr { width: 4em; }
.bytes { width: 6em; }
.instr { width: 20em; }
.label, .func { padding-left: 8em; }
.func { padding-top: 1em; font-weight: bolder; }
.data { width: 32em; }
.link { color: #f0ff00; }
.xref { padding-left: 1em; padding-right: 1em; color: #008000;  }
.comment { color: #fff; }
a { text-decoration: none; }
a:visited { color: #c0c000; }
a:hover { color: #ffff00; }
:target {
	background-color: #303000;
	/* transition: background-color 5s linear; */
}
.highlight { color: #ff00ff !important; }
.highlight  .link { color: #ff00ff; }
.highlight  .xref { color: #ff00ff; }

pre {
	padding-left: 4em;
}

.anchor{
	display: block;
	height: 50vh;
	margin-top: -50vh;
	visibility: hidden;
}
