html {
	background-color: #000000;
	font-family: monospace, monospace;
	font-size: 20px;
	color: #fff;
}
h2 { padding-top: 2em; text-decoration: underline; }
tt, .addr, .bytes, .data, .instr, .label, .data_label, .func, .hexdump, .xref {
	color: #00ff00;
	display: inline-block;
	vertical-align: top;
}
p { margin-left: 2em; margin-right: 2em; }

/* Make an 80 column line of addr, bytes, instr, comment */
.addr { width: 4em; padding-left: 2em; }
.bytes { width: 4em; }
.hexdump { width: 25em; }
.instr { width: 20em; }
.comment { display: inline-block; width: 45em; }

.block_comment, .data_label, .label, .func { padding-left: 10em; }
.data_label { padding-top: 1em; }
.func { padding-top: 0.5em; font-weight: bolder; }
.data { width: 32em; }
.link { color: #80ff00; }
.xref { padding-left: 1em; padding-right: 1em; color: #808000; font-size: 14px; vertical-align: bottom; }
.xref:visited { color: #660; }
.block_comment .comment { color: #fff; }
.block_comment { padding-top: 1em; width: 60em; }
a { text-decoration: none; }
a:visited { color: #80ff00; }
a:hover { color: #ffff00; }
:target {
	background-color: #303000;
	/* transition: background-color 5s linear; */
}

.highlight :is(.addr, .bytes, .instr, .link, .xref, .label, .comment) {
	color: #ff00ff;
}

pre {
	padding-left: 4em;
	color: #00ff00;
}

.anchor{
	display: block;
	height: 50vh;
	margin-top: -50vh;
	visibility: hidden;
}
