html {
	background-color: #000000;
	font-family: monospace, monospace;
	font-size: 20px;
	color: #fff;
}
.addr, .bytes, .data, .instr, .label, .data_label, .func, .hexdump, .xref, .comment {
	color: #00ff00;
	display: inline-block;
}
.addr { width: 4em; }
.bytes { width: 6em; }
.instr { width: 20em; }
.data_label, .label, .func { padding-left: 8em; }
.data_label { padding-top: 1em; }
.func { padding-top: 1em; font-weight: bolder; }
.data { width: 32em; }
.link { color: #80ff00; }
.xref { padding-left: 1em; padding-right: 1em; color: #808000; font-size: 14px; }
.xref:visited { color: #660; }
.comment { color: #fff; }
a { text-decoration: none; }
a:visited { color: #80ff00; }
a:hover { color: #ffff00; }
:target {
	background-color: #303000;
	/* transition: background-color 5s linear; */
}

.highlight :is(.addr, .bytes, .instr, .link, .xref, .label, .comment) {
	color: #ff00ff;
}

pre {
	padding-left: 4em;
	color: #00ff00;
}

.anchor{
	display: block;
	height: 50vh;
	margin-top: -50vh;
	visibility: hidden;
}
